<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Heure de Début</th>
        <th>Heure de Fin</th>
        <th>Praticien</th>
        <th>Actions</th>
    </tr>
    {% if appointments is not empty %}
        {% for appointment in appointments %}
            <tr>
                <td>
                    {{ appointment.date|date('d/m/Y') }}
                </td>
                <td>
                    {{ appointment.startTime|date('H:i') }}
                </td>
                <td>
                    {{ appointment.endTime|date('H:i') }}
                </td>
                <td>
                    {% set healthprofessionalArray = [] %}
                    {% for healthprofessional in appointment.healthprofessional %}
                        {% set healthprofessionalArray = healthprofessionalArray|merge([
                            healthprofessional.job ~ ' ' ~ healthprofessional.lastname ~ ' ' ~ healthprofessional.firstname
                        ]) %}
                    {% endfor %}
                    {{ healthprofessionalArray|join(', ') }}
                </td>
                <td>
                {% if appointment.date > date() %}
                        <a href="{{ path('app_consultation_update', {id: appointment.id}) }}" class="text-primary" title="Modifier"><span class="material-symbols-outlined">edit</span></a>
                        <a href="{{ path('app_consultation_delete', {id: appointment.id}) }}" class="text-danger" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette consultation ?')"><span class="material-symbols-outlined">delete</span></a>
                {% elseif appointment.prescription is not empty %}
                    <a href="{{ path('app_consultation_pdf', {id: appointment.id}) }}" class="text-success"><span class="material-symbols-outlined">download</span></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4" class="text-center">Aucun rendez-vous</td>
        </tr>
    {% endif %}
</table>
