{% extends 'base.html.twig' %}

{% set title = "Suppression du rendez-vous de " %}


{% block title %}

    {{ title }} {{ patient.lastname }} {{ patient.firstname }}

{% endblock %}


{% block body %}

    <h1>{{ title }} {{ patient.lastname }} {{ patient.firstname }}</h1>

{% endblock %}
