{% extends 'base.html.twig' %}

{% set title = 'Édition du rendez vous de ' %}

{% block title %}

    {{ title }} {{ patient.lastname }} {{ patient.firstname }}

{% endblock %}

{% block body %}

    <h1>{{ title }} {{ patient.lastname }} {{ patient.firstname }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.startTime) }}
    {{ form_row(form.endTime) }}
    <button type="submit">Mettre à jour la consultation</button>

{% endblock %}
