{% extends 'base.html.twig' %}

{% block title %}Foire aux questions{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/styles/app.css') }}" rel="stylesheet">
{% endblock %}

{% set compteur = 0 %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Consultez la Foire aux Questions</h1>

        {% for faqElmt in faqData %}
            <div class="accordion" id="faqAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ compteur }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ compteur }}" aria-expanded="false" aria-controls="collapse{{ compteur }}">
                            {{ faqElmt.question }}
                        </button>
                    </h2>
                    <div id="collapse{{ compteur }}" class="accordion-collapse collapse" aria-labelledby="heading{{ compteur }}">
                        <div class="accordion-body">
                            {{ faqElmt.answer }}
                        </div>
                    </div>
                </div>
            </div>
            {% set compteur = compteur + 1 %}
        {% endfor %}
    </div>

    <div class="container my-5">
        <h2 class="text-center mb-4">Informations de Contact</h2>
        <p class="text-center">Pour toute question ou assistance supplémentaire, n'hésitez pas à nous contacter :</p>
        <div class="list text-center">
            <span class="material-symbols-outlined">call</span>
            <div>
                <strong>Numéro de téléphone :</strong> <a href="tel:+33101010101">+33 1 01 01 01 01</a>
            </div>
            <span class="material-symbols-outlined">mail</span>
            <div>
                <strong>Email :</strong> <a href="mailto:contact@exemple.com">contact@exemple.com</a>
            </div>
        </div>
    </div>
{% endblock %}
